/* google poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* basic/common css styles */
body {
    font-family: 'Poppins', sans-serif;
}

.radius-15 {
    border-radius: 15px;
}

header {
    background: #F4F4F4;
}

main {
    background: #E5E5E5;
}

footer {
    background: #E5E5E5;
}

/* -------------------------- */

/* nav section stye */
.menu {
    color: #707070;
}

.search-form {
    position: relative;
    width: 500px;
}

.search-form .fa-search {
    position: absolute;
    top: 13px;
    right: 20px;
    color: #9ca3af
}

.search-form span {
    position: absolute;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db
}

/* ------------------------ */

/* slider banner section styles */
.slider-bg {
    background: #FEEAE9;
}

.price {
    color: #FF136F;
    font-size: 41px;
}

.slider-btn {
    background-color: #FF136F;
}

/* --------------------------- */

/* categories section styles */
.cat1-bg {
    background-image: linear-gradient(to bottom, #FF9C35, #FFD019);
}

.cat2-bg {
    background-image: linear-gradient(to bottom, #FF589B, #FF136F);
}

.cat3-bg {
    background-image: linear-gradient(to bottom, #4289FF, #3F07F8);
}

.cat-img {
    height: 90px;
    width: 80px;
}

/* ------------------------------ */